.breadcrumb {
  margin-left: 25px;
}

.files {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  min-height: 50vh;
}

nz-list-item {
  cursor: pointer;
}
/* 
nz-list-item .actions {
  margin-left: auto;
} */

nz-list-item .download-actions {
  margin-left: 1rem;
}
nz-list-item .download-actions:first-of-type {
  margin-left: auto;
}

.blankSpace {
  cursor: pointer;
}

.high-peer {
  background-color: #52c41a;
}

.clickable:hover {
  color: #1a9cc4;
}

.cid {
  color: rgb(150, 150, 150);
}
.cid:hover {
  color: rgb(105, 105, 105);
}
