<nz-page-header
  class="site-page-header"
  nzTitle="Your Files"
  nzSubtitle="Browse your IPFS files"
>
  <nz-page-header-extra>
    <a
      nz-dropdown
      nzPlacement="bottomRight"
      nzTrigger="click"
      [nzDropdownMenu]="menu"
    >
      <button nz-button nzType="primary" nzShape="circle">+</button>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>
          <a (click)="uploadFile()"> File </a>
        </li>
        <li nz-menu-item>
          <a (click)="uploadFolder()"> Folder </a>
        </li>
        <li nz-menu-item>
          <a (click)="importCID()"> IPFS </a>
        </li>
        <li nz-menu-item>
          <a (click)="makeFolder()"> New Folder </a>
        </li>
      </ul>
    </nz-dropdown-menu>
  </nz-page-header-extra>
</nz-page-header>

<div class="breadcrumb">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a (click)="navHome()"> Home </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item *ngFor="let level of levels; let i = index">
      <a (click)="navDirectory(i)">{{ level }}</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<br />

<div class="files">
  <nz-spin [nzSpinning]="isLoading">
    <nz-list nzBordered>
      <nz-list-item (click)="viewEntry(item)" *ngFor="let item of data">
        <i
          nz-icon
          *ngIf="item.type == 'file'"
          nzType="file-text"
          nzTheme="outline"
        ></i>
        <i
          nz-icon
          *ngIf="item.type == 'directory'"
          nzType="folder"
          nzTheme="outline"
        ></i>
        &nbsp; &nbsp;
        {{ item.name }}
      </nz-list-item>
    </nz-list>
  </nz-spin>
</div>
