<nz-page-header
  class="site-page-header"
  nzTitle="Your Files"
  nzSubtitle="Browse your IPFS files"
>
  <nz-page-header-extra>
    <!-- <a routerLink="/main">
      <button nz-button type="default">back</button>
    </a> -->
    <a
      nz-dropdown
      nzPlacement="bottomRight"
      nzTrigger="click"
      [nzDropdownMenu]="menu"
    >
      <button nz-button nzType="primary">Add +</button>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>
          <a (click)="uploadFile()"> Upload File </a>
        </li>
        <li nz-menu-item>
          <a (click)="uploadFolder()"> Upload Folder </a>
        </li>
        <li nz-menu-item>
          <a (click)="importCID()"> Import from IPFS </a>
        </li>
        <li nz-menu-item>
          <a (click)="makeFolder()"> Create Folder </a>
        </li>
      </ul>
    </nz-dropdown-menu>
  </nz-page-header-extra>
</nz-page-header>

<div class="breadcrumb">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a (click)="navHome()"> Home </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item *ngFor="let level of levels; let i = index">
      <a (click)="navDirectory(i)">{{ level }}</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<br />

<div class="files">
  <nz-spin [nzSpinning]="isLoading">
    <nz-list *ngIf="data.length" nzBordered>
      <nz-list-item
        *ngFor="let item of data"
        (click)="viewEntry(item)"
        (contextmenu)="contextMenu($event, ctxMenu, item)"
      >
        <i
          nz-icon
          *ngIf="item.type == 'file'"
          nzType="file-text"
          nzTheme="outline"
        ></i>
        <i
          nz-icon
          *ngIf="item.type == 'directory'"
          nzType="folder"
          nzTheme="outline"
        ></i>

        &nbsp; &nbsp;
        {{ item.name }} &mdash; &nbsp; &nbsp;
        <small>
          {{ item.cid }}
        </small>

        <div
          nz-tooltip
          [nzTooltipTitle]="item.is_pinned_pinata ? 'Unpin' : 'Pin'"
          class="actions"
        >
          <i
            *ngIf="
              !item.is_pinned_pinata &&
              item.type == 'file' &&
              !item.is_pinned_pinata_queue
            "
            nz-icon
            nzType="pushpin"
            nzTheme="outline"
            (click)="pin(item)"
          ></i>

          <i
            *ngIf="
              item.is_pinned_pinata &&
              item.type == 'file' &&
              !item.is_pinned_pinata_queue
            "
            nz-icon
            nzType="pushpin"
            nzTheme="fill"
            (click)="unpin(item)"
          ></i>
          <i
            *ngIf="item.is_pinned_pinata_queue && item.type == 'file'"
            nz-icon
            nzType="loading"
            nzTheme="outline"
            (click)="queue()"
          ></i>
        </div>
        <div
          class="download-actions"
          *ngIf="item.type == 'file'"
          nz-tooltip
          nzTooltipTitle="Download"
        >
          <i
            (click)="download(item.cid, item.name)"
            nz-icon
            nzType="download"
            nzTheme="outline"
          ></i>
        </div>
      </nz-list-item>
    </nz-list>

    <div *ngIf="!data.length">
      <br /><br />
      <nz-empty
        (contextmenu)="contextMenuEmpty($event, ctxMenuEmpty)"
      ></nz-empty>
    </div>
  </nz-spin>
</div>

<nz-dropdown-menu #ctxMenu="nzDropdownMenu">
  <ul class="menu" nz-menu>
    <!--<li nz-menu-item (click)="view()">Download</li>-->
    <li nz-menu-item (click)="copy()">Copy</li>
    <li nz-menu-item (click)="move()">Cut</li>
    <li nz-menu-item (click)="delete()">Delete</li>
    <li *ngIf="clipboard != ''" (click)="paste()" nz-menu-item>Paste</li>
  </ul>
</nz-dropdown-menu>

<nz-dropdown-menu #ctxMenuEmpty="nzDropdownMenu">
  <ul class="menu" nz-menu>
    <li *ngIf="clipboard != ''" (click)="paste()" nz-menu-item>Paste</li>
  </ul>
</nz-dropdown-menu>
