<button nz-button type="default" (click)="back()">Back</button>
<div  class="center">
    <div nz-row>
        <h2>Receive File</h2>
    </div>
        <div nz-row>
            <div nz-col nzSpan="8" nzOffset="8">
                <input nz-input placeholder="Input CID here" [(ngModel)]="CID" />
            </div>
        </div>
        <br>
        <div nz-row>
            <div nz-col nzSpan="8" nzOffset="8">
                <input nz-input placeholder="Passcode" [(ngModel)]="passCode" />
            </div>
        </div>
        <br>
        <div nz-row>
            <div nz-col nzSpan="8" nzOffset="8">
                <button nz-button nzType="default" class="btnfullw" (click) = "createFileFromCID()">Import</button>
            </div>
        </div>
    </div>