<!-- <button nz-button type="default" (click)="back()">Back</button> -->
<div class="center">
  <div nz-row>
    <h2>Send File</h2>
  </div>
  <div nz-row>
    <div nz-col nzSpan="8" nzOffset="8">
      <div *ngIf="!canUpload">
        Please input a valid passcode to be able to upload
        <br />
        Valid passcode must have a minimum of 15 characters
      </div>

      <nz-spin [nzSpinning]="isLoading">
        <nz-upload
          nzType="drag"
          [nzMultiple]="false"
          nzAction="/api/files/bundle/upload/file"
          [nzData]="directoryData"
          [nzBeforeUpload]="beforeUpload"
          (nzChange)="handleChange($event)"
          *ngIf="canUpload"
        >
          <p class="ant-upload-drag-icon">
            <i nz-icon nzType="inbox"></i>
          </p>
          <p *ngIf="!isDirectory" class="ant-upload-text">
            Click or drag file to this area to upload
          </p>
          <p *ngIf="!isDirectory" class="ant-upload-hint">
            Upload a single file to IPFS
          </p>
        </nz-upload>
      </nz-spin>
    </div>
  </div>
  <br />
  <div nz-row>
    <div nz-col nzSpan="8" nzOffset="8">
      <input
        nz-input
        placeholder="Passcode"
        [(ngModel)]="passcode"
        (keyup)="checkPass()"
      />
    </div>
  </div>
</div>
