<div nz-row>
    <div nz-col nzSpan="8" nzOffset="8" class="center">
        <h2>File sent succesfully</h2>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="8" nzOffset="8" class="center wbg">
        <b>CID</b><br>
        {{CID}}
    </div>
</div>
<ng-template #copyBtn>
    <i nz-icon nzType="copy" nzTheme="outline" (click)="copy(CID)"></i>
</ng-template>
<br>
<div nz-row>
    <div nz-col nzSpan="8" nzOffset="8" class="center wbg">
        <b>Passcode</b><br>
        {{Passcode}}
    </div>
</div>

<ng-template #copyBtn2>
    <i nz-icon nzType="copy" nzTheme="outline" (click)="copy(Passcode)"></i>
</ng-template>
<br>
<div nz-row>
    <div nz-col nzSpan="8" nzOffset="8" class="center">
        <button nz-button (click)="pin()">
            <i nz-icon nzType="pushpin" nzTheme="outline"></i>
            Pin file
        </button>
        <br>
        <a routerLink = "/send">Send another file</a>
    </div>
</div>