<h2>File sent succesfully</h2>

<nz-card style="width:300px;" nzTitle="CID" [nzExtra]="copyBtn">
    {{CID}}
</nz-card>
<ng-template #copyBtn>
    <i nz-icon nzType="copy" nzTheme="outline"></i>
</ng-template>

<nz-card style="width:300px;" nzTitle="Passcode" [nzExtra]="copyBtn2">
    {{Passcode}}
</nz-card>
<ng-template #copyBtn2>
    <i nz-icon nzType="copy" nzTheme="outline"></i>
</ng-template>

<button nz-button>
    <i nz-icon nzType="pushpin" nzTheme="outline"></i>
    Pin file
</button>
<br>
<a routerLink = "/send">Send another file</a>