<nz-result
  nzStatus="success"
  nzTitle="File sent succesfully"
  nzSubTitle="Please input the following details when receiving the file."
>
  <div nz-result-extra>
    <div class="results">
      <nz-card
        nz-tooltip
        [nzTooltipTitle]="isCopied ? 'Copied!' : 'Click to Copy'"
        (click)="copy(CID)"
        class="copy"
      >
        <b>CID</b> <br />
        <p>
          {{ CID }}
        </p>
      </nz-card>
      <br />
      <nz-card>
        <b>Passcode</b> <br />
        {{ Passcode }}
      </nz-card>

      <br /><br />

      <div>
        <a
          nz-button
          nzType="Primary"
          nzBlock
          nzType="primary"
          routerLink="/send"
          >Done</a
        >
        <br />
        <br />
        <a (click)="pin()">
          <i nz-icon nzType="pushpin" nzTheme="outline"></i>
          Pin file
        </a>
        &nbsp;
      </div>
    </div>
  </div>
</nz-result>
