<nz-layout class="layout">
  <nz-sider>
    <div class="logo">IPFS Client</div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li routerLink="/main" nz-menu-item>
        <i nz-icon nzType="home"></i>
        <span> Home </span>
      </li>
      <li routerLink="/send" nz-menu-item>
        <i nz-icon nzType="upload" nzTheme="outline"></i>
        <span> Send </span>
      </li>
      <li routerLink="/receive" nz-menu-item>
        <i nz-icon nzType="download"></i>
        <span> Receive </span>
      </li>
      <li routerLink="/view" nz-menu-item>
        <i nz-icon nzType="file"></i>
        <span> Files </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>©2021 &middot; Romero Surara</nz-footer>
  </nz-layout>
</nz-layout>
