<div nz-row>
  <div nz-col nzSpan = "5" nzOffset = "1">
      <a routerLink = "/view">
          View directory
      </a><br>
    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
      <button nz-button nzType = "primary" nzShape = "circle">+</button>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item>
                <a routerLink="/upload">
                File
                </a>
            </li>
            <li nz-menu-item>
                <a>
                    Folder
                </a>
            </li>
            <li nz-menu-item>
                <a>
                    IPFS
                </a>
            </li>
            <li nz-menu-item>
                <a routerLink="/newFolder">
                    New Folder
                </a>
            </li>
        </ul>
    </nz-dropdown-menu>
  </div>
  <div nz-col nzSpan = "17">
    <router-outlet></router-outlet>
  </div>
</div>
