.center {
  text-align: center;
}
.btnmed {
  width: 20%;
}

.intro {
  margin-top: 10vh;
  width: 60%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.choices {
  display: flex;
  flex-wrap: wrap;
}

.choices > div {
  width: 300px;
  margin-right: 30px;
  margin-bottom: 3rem;
}

p {
  height: 50px;
}

.choices img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}
